<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">THR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="!authService.signedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/signin">Sign In</a>
      </li>

      <li *ngIf="!authService.signedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>

      <li *ngIf="authService.signedIn()" class="nav-item">
        <a class="nav-link" href="#" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
