<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="com-md-12 col-lg-9">
      <flash-messages></flash-messages>

      <h2 class="display-5">Profile</h2>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-4">
      <img *ngIf="!user.avatar" class="img-thumbnail rounded float-left profile-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
      <img *ngIf="user.avatar" class="img-thumbnail rounded float-left profile-img" src="{{ user.avatar }}" />
      <label class="btn-bs-file btn btn-primary mt-2">
        Upload Avatar
        <input [disabled]="uploading" type="file" id="avatar" (change)="onUploadAvatarChange()">
      </label>
    </div>

    <div class="col-md-12 col-lg-5">
      <strong>Username:</strong> {{ user.username }}<br />
      <strong>Email:</strong> {{ user.email }}<br />
      <strong>Role:</strong> {{ user.role }}<br />

      <br />

      <h5>Change Password</h5>
      <form [formGroup]="form" class="mt-3" (submit)="onPasswordChangeSubmit()">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <input type="password" name="oldPassword" class="form-control"
              placeholder="Old Password" formControlName="oldPassword"
              [ngClass]="{
              'is-invalid': form.controls.oldPassword.invalid && (form.controls.oldPassword.dirty || form.controls.oldPassword.touched),
              'is-valid': form.controls.oldPassword.valid && (form.controls.oldPassword.dirty || form.controls.oldPassword.touched)
              }">
          </div>
          <div class="text-danger" *ngIf="form.controls.oldPassword.errors && (form.controls.oldPassword.dirty || form.controls.oldPassword.touched)">
            <p *ngIf="form.controls.oldPassword.errors?.required">Old password is required.</p>
            <p *ngIf="form.controls.oldPassword.errors?.minlength">Old password must be at least (8) characters.</p>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <input type="password" name="newPassword" class="form-control"
              placeholder="New Password" formControlName="newPassword"
              [ngClass]="{
              'is-invalid': form.controls.newPassword.invalid && (form.controls.newPassword.dirty || form.controls.newPassword.touched),
              'is-valid': form.controls.newPassword.valid && (form.controls.newPassword.dirty || form.controls.newPassword.touched)
              }">
          </div>
          <div class="text-danger" *ngIf="form.controls.newPassword.errors && (form.controls.newPassword.dirty || form.controls.newPassword.touched)">
            <p *ngIf="form.controls.newPassword.errors?.required">New password is required.</p>
            <p *ngIf="form.controls.oldPassword.errors?.minlength">New password must be at least (8) characters.</p>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <input type="password" name="newPasswordConfirmation"
              class="form-control" placeholder="New Password Confirmation"
              formControlName="newPasswordConfirmation"
              [ngClass]="{
              'is-invalid': form.controls.newPasswordConfirmation.invalid && (form.controls.newPasswordConfirmation.dirty || form.controls.newPasswordConfirmation.touched),
              'is-valid': form.controls.newPasswordConfirmation.valid && (form.controls.newPasswordConfirmation.dirty || form.controls.newPasswordConfirmation.touched)
              }">
          </div>
          <div class="text-danger"
            *ngIf="(form.controls.newPasswordConfirmation.errors && (form.controls.newPasswordConfirmation.dirty || form.controls.newPasswordConfirmation.touched)) || (form.errors?.mismatch && (form.controls.newPasswordConfirmation.dirty || form.controls.newPasswordConfirmation.touched))">
            <p *ngIf="form.controls.newPasswordConfirmation.errors?.required">New password confirmation is required.</p>
            <p *ngIf="form.controls.newPasswordConfirmation.errors?.minlength">New password confirmation must be at least (8) characters.</p>
            <p *ngIf="form.errors?.mismatch">New password and confirmation do not match.</p>
          </div>
        </div>

        <input [disabled]="form.invalid || processing" type="submit" class="btn btn-primary" value="Change Password">
      </form>
    </div>
  </div>
</div>
